server:
  servlet:
    session:
      timeout: 300m

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
            - openid
            - profile
            - email
            redirect-uri: ${GOOGLE_REDIRECT_URI}
        provider:
          google:
            issuer-uri: https://accounts.google.com

  kafka:
    bootstrap-servers:
    - https://mutual-rabbit-12595-us1-kafka.upstash.io:9092
    properties:
      security.protocol: SASL_SSL
      sasl.mechanism: SCRAM-SHA-256
      sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="${KAFKA_USER}" password="${KAFKA_PASS}";
     
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  main:
    allow-circular-references: true
  sleuth:
    integration:
      websockets:
        enabled: false

logging:
  level:
    org:
      springframework:
        security: trace
app:
  resource:
    server:
      baseurl: ${RESOURCE_SERVER_BASE}
  flag:
    isSinglUserFlow: false
  singleUserId: "12"
